<h3 class="page-header">
  All Customers
  <span class="pull-right">
    <%= link_to "New User", new_shopper_path, class: 'btn btn-sm btn-success' %>
  </span>
</h3>

<ul>
  <% @shoppers.each do |shopper| %>
    <li><%= shopper.first_name + " " + shopper.last_name %> <%= link_to "Edit", edit_shopper_path(shopper) %> <%= link_to "Delete", shopper_path(shopper), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<span class="pull-right">
    <%= link_to "New Customer", new_shopper_path, class: 'btn btn-sm btn-success' %>
  </span>
<a href="/stylists"> <h4> Our Stylists </h4> 

