<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

  <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


  <style>

    /* http://css-tricks.com/perfect-full-page-background-image/ */
    html {
    }

    body {
      padding-top: 20px;
      font-size: 20px;
      font-family: "Abel", arial, sans-serif;
      background: transparent;
    }

    h1 {
      font-family: 'Poiret One', cursive;
      font-weight: 400;
      font-size: 50px;
    }

    h3 {
      font-family: 'Poiret One', cursive;
      font-weight: 400;
      font-size: 30px;
    }
    /* Override B3 .panel adding a subtly transparent background */
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-vertical {
      margin: 30px 0;
    }

  </style>

</head>
<body>

<h1 class="margin-base-vertical"><%= @user.first_name + " " + @user.last_name %>'s Page</h1>
<hr><br>

<% if @user.stylist_id %>
<div class="container">
    <div class="row">
      <div class="col-md-5 col-md-1 panel panel-default">
        <h3 class="margin-base-vertical">Your Stylist:</h3>
        <img src="/assets/<%= @user.stylist.image %>" width="200">
<p>Hi <%= @user.first_name%>, my name is <%= @user.stylist.first_name %> and I'm excited to help you out with upgrading your wardrobe.<br> Please feel to contact me anytime. I'm availavle right <a href="mailto:<% @user.stylist.email%>" target="_top">here</a>. XOXO </p>
      </div><!-- //main content -->
    </div><!-- //row -->
  </div> <!-- //container -->
<% end %>
<hr><br>

<h3><b>Get a new delivery of beautiful outfits</b></h3>
<p>Select one of the following themes and your stylist will get it shipped today:</b></p>
<div class="row">
  <% @themes.each do |theme| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(theme.image), theme_url(theme) %>
        <div class="caption">
          <h3><%= link_to theme.name, theme_url(theme) %></h3>
          <small class="text-muted"><%= theme.description %></a>.</small> 
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr><br>

<h3><b>Your past orders:</b></h3>

<% @user.boxes.each do |box| %>
	 	<% theme_name = Theme.find_by(id: box.theme_id).name %>
	 	<p> - <%= link_to theme_name, theme_url(theme_name) %> created by our stylist <%= link_to box.stylist.try(:first_name), stylist_url(box.stylist) %> on <%= box.date%></p>
<% end %>
<br>
</body>
</html>




